@font-face {
    font-family: 'audrey';
    src: url('../fonts/audrey-medium-webfont.woff2') format('woff2'),
         url('../fonts/audrey-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'audrey';
    src: url('../fonts/audrey-normal-webfont.woff2') format('woff2'),
         url('../fonts/audrey-normal-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
