body{
    font-family: $text;
    padding-top: 70px;
}

.header{
    padding: 10px 0;
    background: #FFF;
    position: fixed;
    box-shadow: 0 0 30px rgba(#000, .075);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;
    .logo{
        display: inline-block;
        width: 50px;
        margin-right: 15px;

        svg{
            width: 100%;
        }
    }

    .menu-pricipal-container, ul{
        display: inline-block;
        vertical-align: top;
        li{
            display: inline-block;
            margin: 0 12px;

            a{
                color: #222;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 13px;
                font-family: $title;
                @include transition(.3s);

                &:hover{
                    color: $gold;
                }
            }

            &.current-menu-item{
                a{
                    color: $gold;
                }
            }
        }
    }

    .menu{
        margin-top: 16px;
    }

    .second-nav{
        margin-top: 16px;
    }
}

.social{
    position: fixed;
    left: 0;
    z-index: 30;
    top: 50%;
    @include translate(0, -50%);

    li{
        background: #FFF;
        box-shadow: 0 0 30px rgba(#000, .075);
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        @include transition(.3s);
        &:hover{
            background: #b8ac86;

            svg{
                fill: #FFF;
            }
        }

        a{
            display: block;
        }

        svg{
            display: inline-block;
            width: 13px;
            height: 13px;
            @include transition(.3s);
        }
    }
}
