body{
    font-family: $text;
    padding-top: 70px;
}

.header{
    padding: 10px 0;
    background: #FFF;
    position: fixed;
    box-shadow: 0 0 30px rgba(#000, .075);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 40;
    .logo{
        display: inline-block;
        width: 50px;
        margin-right: 15px;

        svg{
            width: 100%;
        }
    }

    .menu-pricipal-container, ul{
        display: inline-block;
        vertical-align: top;
        li{
            display: inline-block;
            margin: 0 12px;

            a{
                color: #222;
                text-transform: uppercase;
                font-weight: 100;
                font-size: 13px;
                font-family: $title;
                @include transition(.3s);

                &:hover{
                    color: $gold;
                }
            }

            &.current-menu-item{
                a{
                    color: $gold;
                }
            }
        }

    }

    .menu{
        margin-top: 16px;
    }

    .second-nav{
        margin-top: 16px;
    }
}

.social{
    position: fixed;
    left: 0;
    z-index: 30;
    top: 50%;
    @include translate(0, -50%);

    li{
        background: #FFF;
        box-shadow: 0 0 30px rgba(#000, .075);
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        @include transition(.3s);
        &:hover{
            background: #b8ac86;

            svg{
                fill: #FFF;
            }
        }

        a{
            display: block;
        }

        svg{
            display: inline-block;
            width: 13px;
            height: 13px;
            @include transition(.3s);
        }
    }
}


@media (max-width: $screen-xs-max) {
    .header{
        position: fixed;
        height: 100%;
        @include translate(-100%, 0);
        background: #FFF;
        @include transition(.3s);
        .menu-pricipal-container li,  ul li{
            display: block;
            text-align: center;
            margin: 10px 0;

            a{
                font-size: 18px;
            }
        }

        .menu-pricipal-container, ul{
            display: block;
            width: 100%;
        }

        .menu{
            margin-bottom: 0;
        }

        .second-nav{
            margin-top: 0;
        }

        .logo{
            display: block;
            margin: 40px auto;
            width: 80px;
        }

        &.open{
            @include translate(0, 0);
        }
    }

    .logo-mobile{
        position: absolute;
        top: 13px;
        left: 50%;
        @include translate(-50%, 0);

        img{
            width: 45px;
        }
    }
    .container-menu-mobile{
        position: fixed;
        top: 20px;
        left: 20px;
        background: #FFF;
        padding: 5px;
        z-index: 300;

        border: 1px solid #F7F7F7;
        .button-mobile{
            width: 25px;
            padding: 7px 0;

            .barre{
                width: 100%;
                height: 3px;
                background: $gold;

                &:before, &:after{
                    content: '';
                    width: 25px;
                    height: 3px;
                    background: $gold;
                    left: 50%;
                    @include translate(-50%, 0);
                    position: absolute;
                    top: 5px;
                }

                &:after{
                    top: auto;
                    bottom: 5px;
                }
            }
        }
    }

    .social{
        display: none;
    }
}
