.title-page{
    text-align: center;
}

.container-single{
    padding-bottom: 30px;
}

.strate{
    padding: 30px;

    .bloc-text{
        padding: 0 30px;

        &.text-alone{
            max-width: 800px;
            margin: 0 auto;
        }
    }
    .container-image{
        position: relative;

        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            left: 8px;
            top: 8px;
            z-index: -1;
        }

        &.image-pink{
            &:before{
                background: $pink;
            }
        }
        img{
            width: 100%;
        }
    }
}
